<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./Images/favicon.ico">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Epic Journeys | Contact</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="./index.html">
        <h1 id="logo">Epic Journeys</h1>
      </a>
    </div>
    <div class="links">
      <a id="link" href="#">Explore Destinations</a>
      <a id="link" href="#">Plan Your Trip</a>
      <a id="link" href="#">
        More Options
        <i class="fa fa-angle-down"></i>
      </a>
      <a id="link" href="#">Contact</a>
    </div>
    <div class="account">
      <button>Sign Up</button>
    </div>
  </header>
  <section class="contact">
    <div class="contact-info">
      <h1>Contact Us</h1>
      <h4>Get in touch with us, we're here to help!</h4>
      <div class="contact-box">
        <div class="contact-details">
          <div class="contacts email">
            <i class="fa fa-envelope-o"></i>
            <h4>Email</h4>
            <p>hello@relume.io</p>
          </div>
          <div class="contacts phone">
            <i class="fa fa-phone"></i>
            <h4>Phone</h4>
            <p>hello@relume.io</p>
          </div>
          <div class="contacts phone">
            <i class="fa fa-phone"></i>
            <h4>Office</h4>
            <p>123 Kijabe St, Nairobi</p>
          </div>
        </div>
        <div class="contact-image">
          <img src="../static/images/pexels-andrea-piacquadio-3830880-min.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="footer-info">
    <div class="footer-box">
      <div class="news-letter">
        <h1>Epic Journeys</h1>
        <hr>
        <form action="#">
          <label for="">Stay up to date on the latest features and releases by joining our newsletter.</label>
          <input required type="text" placeholder="Enter your email address">
          <button type="submit">Subscribe</button>
        </form>
      </div>
      <div class="footer-links">
        <h4>Useful Links</h4>
        <a href="#" id="link">
          <i class="fa fa-angle-right"></i>
          Our Destinations
        </a>
        <a href="#" id="link">
          <i class="fa fa-angle-right"></i>
          Plan Your Trip
        </a>
        <a href="#" id="link">
          <i class="fa fa-angle-right"></i>
          Contact
        </a>
        <a href="#" id="link">
          <i class="fa fa-angle-right"></i>
          Terms of service
        </a>
        <a href="#" id="link">
          <i class="fa fa-angle-right"></i>
          Privacy policy
        </a>
      </div>
      <div class="footer-links">
        <h4>Support</h4>
        <div class="socials">
          <p>
            <i class="fa fa-twitter-square"></i>
            Twitter
          </p>
          <p>
            <i class="fa fa-facebook-square"></i>
            Facebook
          </p>
          <p>
            <i class="fa fa-instagram"></i>
            Instagram
          </p>
          <p>
            <i class="fa fa-youtube"></i>
            YouTube
          </p>
          <p>
            <i class="fa fa-linkedin-square"></i>
            LinkedIn
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-text">
      <p>© Copyright <b>Epic Journeys.</b> All Rights Reserved</p>
    </div>
  </footer>
</body>

</html>